body {
  font-family: "Roboto", sans-serif;
}

.banner {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  background: rgb(144, 35, 35);
  border-radius: 5px;
}

.navigation li {
  display: inline-block;
}

.navigation li:hover {
  background: #2a38479d;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em 2em;
  color: white;
}

.logo {
  display: flex;
  flex: 3 0 0;
  padding: 1em 1em 0em;
  box-sizing: border-box;
}

.logo a {
  width: 150px;
}

div.logo img {
  width: 100%;
}

.balance {
  border-radius: 15px;
  height: fit-content;
  width: fit-content;
  padding: 0.5em 1em;
  margin: 4em 0em 0.5em 0em;
  font-size: small;
  background: rgb(57, 0, 0);
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}

/* media query styles are only applied if the conditions are met */
@media all and (max-width: 500px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation li {
    display: flex;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:hover {
    background: #2a38479d;
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .logo a {
    width: 110px;
  }

  div.logo img {
    width: 100%;
  }

  .balance {
    margin: 2em 0em 0.5em 0em;
    margin-left: auto;
  }
}
